<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmWqik1tn6DoUi6NlMMr51vkHBu5itD_g</string>
	<key>GCM_SENDER_ID</key>
	<string>460086717002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>signalsenselabs.Ekicho</string>
	<key>PROJECT_ID</key>
	<string>ekicho-1</string>
	<key>STORAGE_BUCKET</key>
	<string>ekicho-1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460086717002:ios:415da4b4c3d018e81014b3</string>
</dict>
</plist>